.span4 .thumbnail {
    margin-bottom: 9px;
    max-height: 334px;
    min-height: 334px;
}

.row-fluid .span4.margin-box {
    margin-left: 0;
}

.user-cover img {
    float: left;
    height: 300px;
    width: 100%;
}

.user-cover .user-avatar {
    float: none;
    margin-left: 1%;
    margin-top: 10.5%;
    position: absolute;
}

.user-cover .user-avatar img {
    float: left;
    height: 150px;
    width: 150px;
}

.breadcrumb {
    float: left;
    margin: 10px 0;
    width: 96%;
}

.user-cover {
    float: left;
    width: 100%;
}

.user-info {
    float: left;
    margin-top: 3%;
    width: 100%;
}

.user-line-one {
    font-size: 2em;
}


.user-statistics {
    float: right;
    position: relative;
    bottom: 72px;
    width: 16%;
}

.statisctics {
    color: #fff;
    max-height: 30px;
    min-height: 30px;
}